* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 224, 70, 1) 100%
  );

  font-family: "Silkscreen", monospace;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

h1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

p {
  max-width: 220px;
}

.container {
  padding-bottom: 50px;
  width: 1040px;
  margin: 0 auto;
}

.form__input {
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 20px;
}

.form__name {
  font-family: "Silkscreen", monospace;
}

.form__property {
  font-family: "Silkscreen", monospace;
}

.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.insert__card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #e3dddb;
  border: 1px solid #000000;
  border-radius: 20px;
}
